# Ignorar todo el contenido de la carpeta `data` por defecto
/data/**

# Excepciones: permitir versionar `data/raw/` y `data/preprocessed/`
!/data/raw/
!/data/raw/**
!/data/preprocessed/
!/data/preprocessed/**

# Otras reglas útiles (añade según necesites)
# *.pyc
# __pycache__/